.InputStyles{
    padding: 1vw 1vw 1vw 1vw;
}

.Outline{
    background: rgba(134, 134, 134, 0.106);
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.135);
    border-width: 80%;
}