.CustomButton{
    padding: 1.5vh 2vw 1.5vh 2vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.OutlineButton{
    background: none;
    border: 1px solid black;
}
.WarnButton{
    background-color: red;
    color: white;
    border: none;
}
.TextButton{
    outline: none;
    border: none;
    background: none;
    color: blue;
}
.SolidButton{
    outline: none;
    border: none;
    background-color: #007bff;
    color: white; 
}

.CustomButton:hover{
    cursor: pointer;
}

